@{
    string component = ViewContext.RouteData.Values["Action"] as string;
}

<button class="fixed bg-white rounded-full h-10 aspect-square top-5 left-5 z-20 shadow transition-all ease-in-out"
        onclick="toggleMenuState(this)">
    <i class="fa-solid fa-bars"></i>
</button>

<div id="sidebarMenuOverlay" class="fixed w-screen h-screen bg-black opacity-50 invisible lg:hidden z-10 transition-all ease-in-out"></div>

<aside id="sidebarMenu" class="sidebar-menu fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r overflow-auto z-20 transition-all ease-in-out -translate-x-64 lg:translate-x-0" hx-boost="true">
    <a class="cursor-pointer" asp-controller="Home" asp-action="Index">
        <h4 class="flex items-center justify-center h-14 py-8 border-b">
            OpenERP Components v0.1
        </h4>
    </a>

    <div class="flex flex-col py-4 space-y-1 px-5 overflow-y-auto overflow-x-hidden flex-grow">
        <div id="gettingStarted">
            <div class="cursor-none	h-8 text-sm font-light text-gray-500">
                Getting Started
            </div>

            <a asp-controller="Home" asp-action="Index" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Index")" >
                <span class="ml-6 text-sm truncate flex justify-between w-full">Overview</span>
            </a>

            <a href="#Quickstart" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Quickstart")" >
                <span class="ml-6 text-sm truncate flex justify-between w-full flex justify-between w-full">Quickstart</span>
            </a>

            <a asp-controller="Home" asp-action="Changelog" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Changelog")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Changelog</span>
            </a>
        </div>

        <div>
            <div class="cursor-none	h-8 text-sm font-light text-gray-500">Styles</div>

            <a asp-controller="Home" asp-action="Theming" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Theming")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Theming</span>
            </a>

            <a asp-controller="Home" asp-action="Icons" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Icons")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Icons</span>
            </a>
        </div>

        <div>
            <div class="cursor-none	h-8 text-sm font-light text-gray-500">Content Components</div>

            <a asp-controller="Components" asp-action="Alert" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Alert")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Alert</span>
            </a>

            <a href="#Avatar" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Avatar")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Avatar</span>
            </a>

            <a asp-controller="Components" asp-action="Badge" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Badge")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Badge</span>
            </a>

            <a href="#Banner" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Banner")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Banner</span>
            </a>

            <a asp-controller="Components" asp-action="Card" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Card")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Card</span>
            </a>            

            <a href="#List" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "List")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">List</span>
            </a>

            <a href="#Title" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Title")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Title</span>
            </a>            
        </div>

        <div>
            <div class="cursor-none	h-8 text-sm font-light text-gray-500">Layout Components</div>

            <a href="#Divider" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Divider")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Divider</span>
            </a>

            <a href="#Header" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Header")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Header</span>
            </a>

            <a href="#Footer" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Footer")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Footer</span>
            </a>

            <a href="#Sidebar" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Sidebar")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Sidebar</span>
            </a>

            <a href="#Breadcrumb" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Breadcrumb")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Breadcrumb</span>
            </a>

            <a asp-controller="Components" asp-action="Skeleton" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Skeleton")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Skeleton</span>
            </a>

            <a href="#Menu" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Menu")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Menu</span>
            </a>

            <a href="#Spinner" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Spinner")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Spinner</span>
            </a>
        </div>

        <div>
            <div class="cursor-none	h-8 text-sm font-light text-gray-500">Interactive Components</div>

            <a asp-controller="Components" asp-action="Accordion" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Accordion")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Accordion</span>
            </a>                     

            <a asp-controller="Components" asp-action="Button" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "")" >
                <span class="ml-6 text-sm truncate flex justify-between w-full">Button</span>
            </a>

            <a href="#ButtonGroup" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "ButtonGroup")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Button Group</span>
            </a> 

            <a href="#Carousel" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Carousel")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Carousel</span>
            </a>

            <a href="#DatePicker" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "DatePicker")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Date Picker</span>
            </a>

            <a href="#Dialog" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Dialog")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Dialog</span>
            </a>           

            <a href="#Drawer" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Drawer")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Drawer</span>
            </a>

            <a href="#Dropdown" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Dropdown")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Dropdown</span>
            </a>

            <a href="#Popovers" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Popovers")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Popovers</span>
            </a>

            <a href="#SpeedDial" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "SpeedDial")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">SpeedDial</span>
            </a>

            <a asp-controller="Components" asp-action="Tabs" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Tabs")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Tabs</span>
            </a>

            <a href="#Toast" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Toast")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Toast</span>
            </a>

            <a href="#Tooltips" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Tooltips")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Tooltips</span>
            </a>

            <a href="#Wizard" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Wizard")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Wizard</span>
            </a>
        </div>

        <div>
            <div class="h-8 text-sm font-light text-gray-500">Form Components</div>

            <a href="#Radio" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Radio")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Radio</span>
            </a>

            <a href="#Checkbox" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Checkbox")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Checkbox</span>
            </a>

            <a href="#TextFields" class="cursor-not-allowed w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "TextFields")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Text Field</span>
            </a>            
        </div>

        <div>
            <div class="h-8 text-sm font-light text-gray-500">Table Components</div>

            <a asp-controller="Components" asp-action="Table" class="cursor-pointer w-full flex items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" data-menu-item-selected="@(component == "Table")">
                <span class="ml-6 text-sm truncate flex justify-between w-full">Table</span>
            </a>
        </div>
    </div>
</aside>
